<div class="nested-fields">
  <%= f.hidden_field :_destroy %>
  <div class="ingredient__inputBx">
    <%= f.text_field :content, placeholder: "材料", class:"form-control"%>
    <%= f.text_field :quantity, placeholder: "分量", class:"form-control" %>

    <%= link_to_remove_association f, class: 'btn btn-default' do %>
      <i class="fa-solid fa-trash-can" style="color: #000000;"></i>
    <% end %>
  </div>
</div>