// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.favorite {
  margin-right: 20px;
  &__link {
    text-decoration: none !important;
  }
  &__btn {
    @extend .font-md;
    color: $--c-pink !important;
  }

  &__count {
    @extend .font-md;
    color: $--c-dark-gray;
  }
}