<% @title = "ユーザ一覧" %>

<div class="tweet__container">
  <div class="col-md-12 px-sm-0">
    <div class="mt-4 mb-4">
      <h3>ユーザ一覧</h3>
    </div>

    <%= render 'shared/user-list' %>
    <%= paginate @users %>
  </div>
</div>