<% @title = "ユーザ一覧" %>

<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4 mb-3">
      <h3>ユーザ一覧</h3>
    </div>
    <%= render 'shared/user-list' %>
  </div>
  <div class="col-md-12 justify-content-center d-flex mb-4">
    <%= paginate @users %>
  </div>
</div>