<div class="container">
  <div class="row my-4">

    <div class="col-md-7 px-sm-0 d-flex">
      <%= image_tag 'introduction.jpg', size: "600x800" %>
    </div>

    <div class="col-md-5 px-sm-0 align-self-center">
      <div class="text-center mt-2 mb-4">
        <h3>退会お手続き</h3>
      </div>
      <p class="text-center">
        退会手続きをされますと<br>
        一部サービスがご利用いただけなくなります。<br>
        <br>
        本当に退会してよろしいですか？
      </p>

      <div class="col-md-12 px-sm-0 d-flex align-items-center justify-content-center">
        <%= link_to "退会しない", user_path(current_user), class: 'withdrawal glyphicon glyphicon-home btn btn-primary mr-4' %>
        <%= link_to "退会する", withdrawal_path, method: :patch, data: { confirm: "本当に退会しますか？" }, class: "withdrawal glyphicon glyphicon-tint btn btn-danger" %>
      </div>
    </div>

  </div>
</div>
