<footer class="footer">
  <div class="footer__inner">

    <!--<%#= link_to root_path do %>-->
    <!--  <%#= image_tag 'EnjoyRecipe', size: "50x50" %>-->
    <!--<%# end %>-->


    <footer class="footer text-white", style="background-color: #FFA500;">

    <div class="container5">
      <div class="row">
        <div class="mx-auto">
          <div class="footer__nav mx-auto">&copy; 2023 Yumi.Teramoto  All Rights Reserved.</div>
        </div>
      </div>
    </div>

  </div>
</footer>