<footer class="footer">
  <div class="text-white", style="background-color: #FFA500; height: 120px; text-align: center; line-height: 120px;">
    <div class="mx-auto">
      <%= link_to root_path do %>
        <%= image_tag 'EnjoyRecipe2', size: "100x100" %>
      <% end %>
      &copy; 2023 Yumi.Teramoto.
    </div>
  </div>
</footer>

