<form>
  <div class="row">
    <div class="col-md-5 mt-4">
      <%= search_form_for @q, url: recipes_search_path, class:"search_form" do |f| %>
        <%= f.search_field :title_or_ingredients_content_cont, placeholder: "レシピ名・食材名で検索", class:"form-control" %>
      <% end %>
    </div>
  </div>
</form>