<section class="comment">
  <div class="comment__count">
    コメント<%= comments.where(reply_comment: nil).length %>件
  </div>
  <%= render "comments/comment", comments: comments %>
  <% if user_signed_in? %>
    <div class="comment__form">
      <%= render 'comments/form' %>
    </div>
  <% end %>
</section>