<form>
  <%= form_tag recipes_path do %>
      <%= select_tag :tag_id,
                      options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                      {
                        prompt: 'タグで絞り込み',
                        class: 'tag__item mt-2 mb-5',
                        onchange: 'submit(this.form);'
                      }
      %>
  <% end %>
</form>