<% if @user == current_user %>
  <div class="d-flex justify-content-center mt-2 mb-2">
    <%= link_to 'レシピ投稿', new_recipe_path, class:'btn btn-outline-success w-100',data: {"turbolinks"=>false} %>
  </div>
  <div class="d-flex justify-content-center mb-2">
    <%= link_to 'ユーザー編集', edit_user_registration_path, class:'btn btn-outline-secondary' %>
  </div>
<% end %>