<main>
  <%= render 'layouts/notifications' %>

  <div class="container">
    <div class="row top__background">

      <div class="col-md-7 px-sm-0 d-flex">
        <%= image_tag 'introduction.jpg', class: "introduction__img" %>
      </div>

      <div class="col-md-5 align-self-center">
        <div class="col-md-10 offset-md-1">
          <div class="text-center mt-2 mb-4">
            <h3>Enjoy Recipe!</h3>
          </div>
          <p class="text-center">
            楽しいクッキングライフを♪<br>
            <br>
            一人暮らしの方、料理が好きな方・苦手な方<br>毎日の料理作りをサポートします。<br><br>
            あなたの望むレシピがきっと見つかります。<br>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 px-sm-0">
        <div class="mt-4 mb-4">
          <h3>New Arrival</h3>
        </div>
        <p class="sub-title">新しいレシピを見つけよう</p>
        <%= link_to recipes_path, class: "read_more-btn" do %>
          <i class="fa-regular fa-circle-right" style="color: #000000;"></i>
        <% end %>
      </div>
</div>
      <%= render 'shared/recipe_list' %>

    </div>
  </div>
</main>