<main>
  <%= render 'layouts/notifications' %>
  <section class="introduction">
      <div class="introduction__inner">
        <div class="introduction__img">
          <%= image_tag 'introduction.jpg', size: "600x800" %>
        </div>
        <div class="introduction__texts">
          <div class="introduction__texts-inner">
            <div class="introduction__title main-title">
              Enjoy Recipe!
            </div>
            <div class="introduction__sub sub-title">
              楽しいクッキングライフを♪
            </div>
            <div class="introduction__description">
              <p>一人暮らしの方<br>毎日の料理作りをサポートします。</p>
              <p>あなたの望むレシピがきっと見つかります。</p>
            </div>
          </div>
        </div>
      </div>
  </section>


  <section class="list">
    <div class="subheader">
      <div>
        <p class="main-title">New Arrival</p>
        <p class="sub-title">新しいレシピを見つけよう</p>
      </div>
      <%= link_to recipes_path, class: "read_more-btn" do %>
        <i class="fa-regular fa-circle-right" style="color: #000000;"></i>
      <% end %>
    </div>
    <%= render 'shared/recipe_list' %>
  </section>



</main>