<h2><%= @user.name %> 様</h2>

<p>EnjoyRecipeをご利用いただきましてありがとうございます。<br>
本日より３日以内に賞味期限が切れる食材がありますので、ご確認ください。</p>

<p><%= link_to "食材を確認する", inventories_user_url(@user) %></p>

<p>今後とも、EnjoyRecipeをよろしくお願いいたします。</p>

<p>※このメールは送信専用です。</p>
