// Bootstrap
@import '~bootstrap/scss/bootstrap';
// fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


//
.introduction__img {
  width: 100%;
  height: 100%;
}

// ユーザー画像
.avatar__img {
  width: 20%;
  height: 20%;
}

//ユーザーフォロー
.user__follow {
  line-height: 30px;
  height: 30px;
}

// ユーザー詳細
.list__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

// 在庫
.inventory__photo {
  // width: 100%;
  height: 150px;
  object-fit: cover;
}

// タイムライン
.tweet__user-avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

// タグで絞り込み
.tag__item {
  width: 100%;
}

// ボタンを茶色に
.btn__color {
  background: #692927;
}

// レシピ、いいね、食材
.mypage__botton {
  line-height: 30px;
  height: 30px;
  border-bottom: solid;
  border-width:1px !important;
}