// Bootstrap
@import '~bootstrap/scss/bootstrap';
// fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// トップのスライダー画像
.slider-img {
  width: 100%;
  height: 100%;
}

// 在庫一覧  // 上と統合したい
.inventory__photo {
  width: 100%;
  height: 100%;
}


// コメントのユーザ画像
.comment__img {
  width: 5%;
}

// レシピ詳細画像
.description__img {
  width: 100%;
  // height: 100%;
}


//ログイン・新規登録・ユーザ編集の左側画像
.introduction__img {
  width: 100%;
  height: 100%;
}

//ログイン・新規登録・ユーザ編集のトップ背景色
.login__background {
  background: #EDFFDD;
}

// ユーザー画像
.avatar__img {
  width: 20%;
  height: 20%;
}


//ユーザーフォロー
.user__follow {
  line-height: 30px;
  height: 30px;
}

// ユーザー詳細
.list__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

// マイページレシピ小ユーザー画像
.list__user-img {
  width: 40px;
  height: 40px;
}

// 在庫登録
.inventory__img {
  //width: 30%;
  //height: 30%;
  //object-fit: cover;
}


//レシピ詳細
.ingredient__line {
  width: 100%;
  border-bottom: solid 2px #692927;
}

.stepshow__img {
  width: 30%;
}

// ユーザ一覧
.user-list__img {
  img {
    width: 30%;
    height: 30%;
  }
}

// ユーザ一覧
.recipelist__flex {
  display:flex;  /* flexbox */
  justify-content: center;  /* 水平方向 */
  align-items: center;  /* 垂直方向 */
}

// タグで絞り込み
.tag__item {
  width: 100%;
}

// ボタンを茶色に
.btn__color {
  background: #692927;
}

// レシピ、いいね、食材
.mypage__botton {
  line-height: 40px;
  height: 40px;
  display: inline-block;
  border-bottom: solid;
  border-width:1px !important;
}


// ヘッダー
a.btn:hover {
  color: #fff;
}

//トップ背景色
.top__background {
  background: #f8eacf;
}

// ハンバーガーメニュ―
.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}

